<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="This is a page about us" />
        <title>About Us</title>
        <link rel="stylesheet" href="../../public/css/aboutus.css" />
        <link rel="stylesheet" href="../../public/css/font.css" />
        <link rel="stylesheet" href="../../public/css/navigation.css" />
    </head>
    <body>
        <main
            class="main_background noto-sans-warang-citi-regular apply_flex_center"
        >
            <div class="main_content">
                <h1 class="heading">
                    Empowering Careers, Connecting Talent with Opportunity for a
                    Brighter Tomorrow
                </h1>
                <p class="paragraph">
                    Our philosophy is simple; hire great people and give them
                    the resources and support to do their best work
                </p>
            </div>

            <div class="team apply_flex_evenly">
                <div class="picture">
                    <img src="../../public/images/kartik.png" alt="kartik" />
                    <p class="our_name">Kartik</p>
                </div>

                <div class="picture">
                    <img src="../../public/images/hansi.png" alt="hansi" />
                    <p class="our_name">Hansi</p>
                </div>

                <div class="picture">
                    <img src="../../public/images/arush.png" alt="arush" />
                    <p class="our_name">Arush</p>
                </div>

                <div class="picture">
                    <img src="" alt="asmi" />
                    <p class="our_name">Asmi</p>
                </div>
            </div>
        </main>
    </body>
</html>
