<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Job Card</title>
        <link rel="stylesheet" href="../../public/css/box.css" />
        <link rel="stylesheet" href="../../public/css/font.css" />
    </head>
    <body>
        <div class="job-main">
            <div class="job-card">
                <div class="job-header">
                    <p class="posting">20 May, 2023</p>
                    <button class="save-btn">&#128279;</button>
                </div>
                <div class="company-info">
                    <div class="job-info">
                        <p class="company-name">Amazon</p>
                        <h2 class="job-title">Senior UI/UX Designer</h2>
                    </div>
                    <img
                        src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg"
                        alt="Amazon Logo"
                        class="company-logo"
                    />
                </div>
                <div class="job-tags">
                    <span>Part time</span>
                    <span>Senior level</span>
                    <span>Distant</span>
                    <span>Project work</span>
                </div>
            </div>
            <div class="job-footer">
                <div class="salary-place">
                    <p class="rate">$250/hr</p>
                    <p>San Francisco, CA</p>
                </div>
                <button class="details-btn">Details</button>
            </div>
        </div>
    </body>
</html>
