<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../public/css/box.css" />
    </head>
    <body>
        <div class="box">
            <div class="main_area">
                <div class="date_bookmark">
                    <div id="date">20 May, 2023</div>
                    <div class="bookmark">
                        <img
                            src="../../public/images/bookmark.svg"
                            alt="bookmark"
                        />
                    </div>
                </div>
                <div class="offer_company">
                    <div class="offer">
                        <p>Amazon</p>
                        <p>Senior UI/UX Designer</p>
                    </div>
                    <div class="logo"></div>
                </div>
            </div>
        </div>
    </body>
</html>
