<div class="heading">
    <h1>Create Account.</h1>
    <br />
    <h6>Have an account?<a href="../../index.php">&nbsp;Log In.</a></h6>
</div>
<div class="form">
    <form
        action="../includes/employer.inc.php"
        method="post"
        onsubmit="return(validateSignup())"
    >
        <div class="forCompany">
            <label for="company">Company:</label><br />
            <input
                type="text"
                name="company"
                id="company"
                placeholder="Company Name"
                class="inputs"
            />
            <p class="error" id="forcompany"></p>
        </div>

        <div class="forIndustry">
            <label for="industry">Industry:</label><br />
            <input type="text"
                type="text"
                name="industry"
                id="industry"
                placeholder="Industry Name"
                class="inputs"
            />
        </div>

        <div class="forLocation">
            <label for="location">Location:</label><br />
            <input
                type="text"
                name="location"
                id="location"
                placeholder="Location"
                class="inputs"
            />
            <p class="error" id="forlocation"></p>

        <div class="forRole">
            <div class="forGoogle goo_sub">
                <img
                    src="../../public/images/google_logo.png"
                    alt="google_logo"
                    class="google_logo"
                />
                <span>Sign Up using Google</span>
            </div>
            <div class="forSubmit goo_sub">
                <input type="submit" value="Next" class="submit" />
            </div>
        </div>
    </form>
</div>
