<nav class="navigation apply_flex_between noto-sans-warang-citi-regular">

    <div class="logo_title_links apply_flex_evenly">

        <div class="logo_title apply_flex_evenly">
            <img src="../../public/images/logo.png" alt="logo" class="profile_picture">
            <p class="title">Recruit-It.</p>
        </div>

        <div class="links apply_flex_evenly">

            <div class="apply_flex_evenly">
                <a href="#" class="apply_flex_evenly">
                    <img src="../../public/images/job_icon.svg" alt="job_icon">
                    <p class="link">Find Jobs</p>
                </a>
            </div>

            <div class="apply_flex_evenly">
                <a href="#" class="apply_flex_evenly">
                    <img src="../../public/images/community.svg" alt="community">
                    <p class="link">Community</p>
                </a>
            </div>

            <div class="apply_flex_evenly">
                <a href="#" class="apply_flex_evenly">
                    <img src="../../public/images/contact_icon.svg" alt="contact_icon">
                    <p class="link">Contact Us</p>
                </a>
            </div>

            <div class="apply_flex_evenly">
                <a href="#" class="apply_flex_evenly">
                    <img src="../../public/images/community.svg" alt="aboutus">
                    <p class="link">About Us</p>
                </a>
            </div>

            <div class="faq apply_flex_evenly">
                <a href="#" class="apply_flex_evenly">
                    <img src="../../public/images/faq_icon.svg" alt="faq_icon">
                    <p class="link">FAQ</p>
                </a>
            </div>

        </div>

    </div>

    <div class="other apply_flex_evenly">

        <div class="notification">
            <img src="../../public/images/bell_icon.svg" alt="bell_icon" class="bell_icon">
        </div>

        <div class="name">
            <p id="full_name">Kartik A.</p>
            <p id="job_title">Graphic Designer</p>
        </div>

        <div class="profile">
            <img src="../../public/images/profile.png" alt="profile" class="profile_picture">
        </div>
        
    </div>

</nav>