<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/navigation.css">
    <link rel="stylesheet" href="../../public/css/font.css">
</head>
<body>
    <nav class="navigation apply_flex noto-sans-warang-citi-regular">
        <div class="logo_title apply_flex">
            <p>Recruit-It.</p>
        </div>
        <div class="links apply_flex">
            <div class="apply_flex">
                <a href="#" class="apply_flex">
                    <img src="../../public/images/job_icon.svg" alt="job_icon">Find Jobs
                </a>
            </div>
            <div class="apply_flex">
                <a href="#" class="apply_flex">
                    <img src="../../public/images/job_icon.svg" alt="job_icon">Text
                </a>
            </div>
            <div class="apply_flex">
                <a href="#" class="apply_flex">
                    <img src="../../public/images/job_icon.svg" alt="job_icon">Text
                </a>
            </div>
            <div class="apply_flex">
                <a href="#" class="apply_flex">
                    <img src="../../public/images/contact_icon.svg" alt="contact_icon">Contact Us
                </a>
            </div>
            <div class="apply_flex">
                <a href="#" class="apply_flex">
                    <img src="../../public/images/us_icon.svg" alt="us_icon">Our Team
                </a>
            </div>
        </div>
        <div class="other apply_flex">
            <div class="notification">
                <img src="../../public/images/bell_icon.svg" alt="bell_icon" class="bell_icon">
            </div>
            <div class="name">
                <p id="full_name">Kartik A.</p>
                <p id="job_title">Graphic Designer</p>
            </div>
            <div class="profile">
                <img src="../../public/images/profile.png" alt="profile" class="profile_picture">
            </div>
        </div>
    </nav>
</body>
</html>