<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title class="profile-page">Profile Page</title>
        <link rel="stylesheet" href="../../public/css/font.css" />
    </head>
    <body>
        <div class="conatiner noto-sans-warang-citi-regular">
            <div class="one">
                <div class="picture">
                    <img src="../../public/images/profile.png" alt="profile" />
                </div>
                <h1>Kartik Agrawal</h1>
            </div>
            <div class="two"></div>
        </div>
    </body>
</html>
