<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecruitIt</title>
    <script src="../../public/js/script.js"></script>
    <link rel="stylesheet" href="../../public/css/signup.css">
</head>
<body>
    <div class="main">
    <div class="container">
        <div class="one">
            <h4>Recruit-It</h4>
            <h1><b>Start your</b></h1>
            <h1><b>journey with us.</b></h1>
            <p>Platform is designed to make recruitment faster, smarter, and more effective.</p>
        </div>
        <div class="two">
            <h2>Sign Up</h2>
            <h6>Have an account?<a href="">Log In</a></h6>
            <form action="" onsubmit="return(validateSignup())">
                <div class="forName">
                <label for="name">Name:</label><br>
                    <input type="text" name="name" id="name">
                    <p id="forname"></p></div>
                <div class="forPwd">
                <label for="pwd">Password:</label><br>
                    <input type="password" name="pwd" id="pwd">
                    <p id="forpwd"></p></div>
                <div class="forEmail">
                <label for="email">Email:</label><br>
                    <input type="email" name="email" id="email">
                    <p id="foremail"></p></div>
                <div class="forContact">
                <label for="contact">Contact:</label><br>
                    <input type="number" name="contact" id="contact">
                    <p id="forcontact"></p></div>
                <label for="next"></label>
                    <button type="submit" name="next" id="next">Next</button>
            </form>
        </div>
    </div>
    </div>
</body>
</html>