<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecruitIt</title>
    <script src="../../public/js/script.js"></script>
    <link rel="stylesheet" href="../../public/css/signup.css">
</head>
<body>
    <div class="container">
        <div class="one">
            <img src="job_portal_about.svg">
        </div>
        <div class="two">
            <form action="" onsubmit="return(validateSignup())">
                <label for="name"></label>
                    Name:<input type="text" name="name" id="name" placeholder="Enter Full Name"><br>
                <label for="pwd"></label>
                    Password:<input type="password" name="pwd" id="pwd" placeholder="Password Of 6 Characters Or More"><br>
                <label for="email"></label>
                    Email:<input type="email" name="email" id="email" placeholder="someone@gmail.com"><br>
                <label for="contact"></label>
                    Contact:<input type="number" name="contact" id="contact"placeholder="Enter Your Contact Number"><br>
                <label for="signup"></label>
                    <button type="submit" name="signup" id="signup">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>